@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --cor1:#ebffff;
    --cor2:#8ed0dc;
    --cor3:#78bbd1;
    --cor4:#65adcf;
    --cor5:#4992c0;

    --fonte-titulo:"Passion One", sans-serif;
    --fonte-especial:"Sriracha", "cursive";
    --fonte-padrao:"Arial","Verdana","Helvetica";
}
*{

    margin: 0px;
    padding: 0px;

}
html{ 
    background-color: var(--cor1);
}
body{
    
}

header{
    text-align: center;
    padding: 50px;
    font-family: var(--fonte-titulo);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}
header h1 {
    font-variant: small-caps;
    font-size: 3rem;
}
header p {
    font-size:1.2rem;
}

nav {
    background-color: var(--cor5);
    padding: 10px;

}

nav a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 4px;
    border-radius: 7px;
}

nav a:hover{
    color: black;
    background-color: var(--cor4);
    transition-duration: 0.7s;
}

main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-bottom: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
}

.home{
    /* margin-bottom: 196px; */
    margin-bottom: 65px;
}

main p{
    line-height: 1.5em;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
}

main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main a::after{
    content: "\00A0\1F517";
}





/* Edição do footer */
footer{
    background-color: var(--cor5);
    padding: 5px;
    text-align: center;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover{
    color: rgb(75, 74, 74);
    text-decoration: underline;
    transition-duration: .2s;
}